version: '3.9'
services:
    api:
        build:
            context: .
            dockerfile: apps/api/Dockerfile
        container_name: api
        networks:
            - main
        ports:
            - 3000:3000
        volumes:
            - ./envs/.api.env:/opt/app/.env
    database:
        image: postgres:17
        container_name: database
        networks:
            - main
        ports:
            - ${DB_PORT}:5432
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres']
            interval: 5s
            timeout: 5s
            retries: 5

volumes:
    postgres_data:

networks:
    main:
        driver: bridge
