VITE_API_URL="http://localhost:3000"
VITE_SITE_URL="http://localhost:5173"
VITE_SOCIAL_VK_URL=""
VITE_SOCIAL_INSTAGRAM_URL=""
VITE_BUCKET_HOST="https://s3.twcstorage.ru/pif"
VITE_SHELTER_FINANCE_START_YEAR="2025"
VITE_SHELTER_STAT_SAVED="8 500"
VITE_SHELTER_STAT_ADOPTED="6 200"
VITE_SHELTER_STAT_STERILIZED="3 400"
VITE_SHELTER_STAT_FOOD="12 тонн"